<!-- TODO: Add an my-tab element and (in a later exercise) some my-tabs elements -->

<my-tabs>
        <my-tab title="Page 1">
                Lorem <b>ipsum</b>, dolor <i>sit</i> amet …
                <div slot="footer">Some <b>extra</b> info</div>
            </my-tab>
            


<my-tab title="My 2nd Tab">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aliquid aliquam a eum ex beatae libero dolore vero veritatis aspernatur, odit corrupti. Eaque voluptatibus libero voluptatem eius iste praesentium odio!Dolore quia incidunt impedit consequuntur possimus, voluptatum praesentium. Accusantium aliquam, porro similique et, ad, consectetur doloremque eius sunt officiis debitis necessitatibus fugit. Aliquid ipsa id quo, minus dignissimos cumque illo!

    <div slot="footer">
            Small printed bad details like your soul belongs to me!
        </div>
    
    </my-tab>
</my-tabs>    